 * {
    /* background-image: url("https://images.pexels.com/photos/76969/cold-front-warm-front-hurricane-felix-76969.jpeg?cs=srgb&dl=pexels-pixabay-76969.jpg&fm=jpg"); */
 }
 
 /* body {
    margin: 5%;
    background-color: white;
    background-image: url("https://images.pexels.com/photos/76969/cold-front-warm-front-hurricane-felix-76969.jpeg?cs=srgb&dl=pexels-pixabay-76969.jpg&fm=jpg");
    background-size: cover;
    background-position: center;
    
 } */

 .currentweatherstatement {
    background-color:grey;
    
    
 }

 .futureWeatherStatement {
    background-color: lightblue;;
    display: flex;
 }

input {
    width: 20%;
    margin: 10px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    color: #444;
    text-shadow: 1px 1px 1px black;
}
 
p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

img {
    max-width: 100%;
    height: auto;
    border: 0;

}

div {
    /* display: flex; */
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: transparent;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;
    width: fit-content;
    flex-direction: inherit;

}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 5%;
    outline: none;
    transition: all 0.3s ease-in-out;
    justify-content: space-between 5px;
}

clearBtn {
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: red;
    
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 5%;
    outline: none;
    transition: all 0.3s ease-in-out;
    justify-content: space-between 5px;
}

/* .current-weather-statement {
    background-color: blue;
} */
/* This will be applied on any screen smaller than 992px */
@media only screen and (max-width: 992px) {

}

/* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

}

/* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {

}
