 body {
    margin: 0%;
    background-color: black;
 }
 
.flex-container {
    display: flex;
    justify-content: center;
    padding: 2%;
    background-color: black
}

div {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    color: bisque;
    background-color: grey;
   
    

}