 body {
    margin: 5%;
    background-color: white;
 }
h1 {
    text-align: center;
}
 
p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}

img {
    max-width: 100%;
    height: auto;
    border: 0;

}

div {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: white;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    border-radius: 10px;
    padding: 20px;
    margin: 15px;

}

button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: grey;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: 5%;
    outline: none;
    transition: all 0.3s ease-in-out;
}

/* .current-weather-statement {
    background-color: blue;
} */
/* This will be applied on any screen smaller than 992px */
@media only screen and (max-width: 992px) {

}

/* This will be applied on any screen smaller than 768px */
@media screen and (max-width: 768px) {

}

/* This will be applied on any screen smaller than 575px */
@media screen and  (max-width: 575px) {

}